<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.c19trace">

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.C19Trace"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD1itzgMldmQ1EDQQxwQbQ6SoM5-bPVXXo" />

        <activity
            android:name=".Hotspot.HotspotActivity"
            android:exported="false"
            android:label="@string/title_activity_hotspot" />
        <activity
            android:name=".CheckIn.CheckInHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".Home.VaccinationForm.VaccinationActivity"
            android:exported="false" />
        <activity
            android:name=".Home.VaccinationForm.ReadVaccineInfoActivity"
            android:exported="false" />
        <activity
            android:name=".Home.SymptomTest.HighRiskActivity"
            android:exported="false" />
        <activity
            android:name=".Home.SymptomTest.MediumRiskActivity"
            android:exported="false" />
        <activity
            android:name=".Home.SymptomTest.LowRiskActivity"
            android:exported="false" />
        <activity
            android:name=".Home.SymptomTest.SymptomsTestActivity"
            android:exported="false" />
        <activity
            android:name=".CheckIn.QrScannerActivity"
            android:exported="false"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".Home.Info.News5Activity"
            android:exported="false" />
        <activity
            android:name=".Home.Info.News4Activity"
            android:exported="false" />
        <activity
            android:name=".Home.Info.News3Activity"
            android:exported="false" />
        <activity
            android:name=".Home.Info.News2Activity"
            android:exported="false" />
        <activity
            android:name=".Home.Info.News1Activity"
            android:exported="false" />
        <activity
            android:name=".Home.SopActivity"
            android:exported="false" />
        <activity
            android:name=".CheckIn.CheckInSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".Others.NavigationActivity"
            android:exported="false" />
        <activity
            android:name=".Others.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Others.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Others.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".Others.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>